<div class="general">
  <mat-toolbar>
      <span>Gym Hulk</span>
      <span class="example-spacer"></span>
    <div *ngIf="loggedIn" class="menuC">
      <div class="Botones-menu">
        <button mat-button >Inicio</button>
        <button mat-button [matMenuTriggerFor]="Rutinas">Rutinas</button>
        <button mat-button [matMenuTriggerFor]="usuario">Reservas</button>
        <button mat-button [matMenuTriggerFor]="usuario">Usuarios</button>
      </div>
        <mat-menu #usuario="matMenu">
          <div class="Menu_desing">
            <button mat-menu-item (click)="openNuevo()">Nuevo</button>
            <button mat-menu-item >Consultar</button>
            <button mat-menu-item >Eliminar</button>
          </div>
        </mat-menu>
        <mat-menu #Rutinas="matMenu">
          <div class="Menu_desing">
            <button mat-menu-item (click)="openBiblioteca()">Biblioteca/Rutinas</button>
            <button mat-menu-item (click)="openNuevaRutina()">Nueva Rutina</button>
            <button mat-menu-item >Eliminar</button>
          </div>
        </mat-menu>
    </div>
  <div class= "Boton-User">
    <span *ngIf="loggedIn">¡Bienvenido, {{ username }}! <button (click)="logout()" style="font-size: 5px;"><mat-icon>exit_to_app</mat-icon></button></span>
    <span *ngIf="!loggedIn"><button >Acerca de</button></span>
  </div>
  </mat-toolbar>
</div>