<header>
  <mat-toolbar>
    <span>Gym Hulk</span>
    <span class="example-spacer"></span>
    <div [hidden]="!loggedIn">
      <button mat-button>Inicio</button>
      <button mat-button [matMenuTriggerFor]="usuario">Usuario</button>
      <mat-menu #usuario="matMenu">
        <button mat-menu-item (click)="openNuevo()">Nuevo</button>
        <button mat-menu-item>Consultar</button>
        <button mat-menu-item>Eliminar</button>
      </mat-menu>
    </div>
    <span class="example-spacer"></span>
    <span *ngIf="loggedIn">¡Bienvenido, {{ username }}! <mat-icon (click)="logout()">exit_to_app</mat-icon></span>
    <span *ngIf="!loggedIn"><button class="info">Acerca de</button></span>
  </mat-toolbar>
</header>
