<div class="container">
    <div class="banner">
    </div>
    <div class="main-content">
        <h1>Featured Workout</h1>
        <div class="featured-workout">
            <div class="workout-card">
                <h2>Cardio</h2>
                <p>Quema calorías con ejercicios de alta intensidad.</p>
            </div>
            <div class="workout-card">
                <h2>Fuerza</h2>
                <p>Desarrolla músculo con ejercicios centrados en el entrenamiento de resistencia.</p>
            </div>
            <div class="workout-card">
                <h2>Bienestar Mental</h2>
                <p>La actividad física genera sensación de bienestar y reduce el estrés y la ansiedad.</p>
            </div>
            <div class="workout-card">
                <h2>Autoestima y Confianza</h2>
                <p>Lograr metas de fitness y experimentar mejoras físicas aumenta la autoestima</p>
            </div>
        </div>
        <h1>Testimonios</h1>
        <div class="testimonio">
            <p>"Este gimnasio ha cambiado mi vida por completo. ¡Me encanta!" - Jane Doe</p>
            <p>"Nunca me imaginé que ir al gimnasio podría ser tan gratificante." - Carlos Pérez</p>
            <p>"La comunidad que he encontrado en este gimnasio es simplemente increíble." - Ana García</p>
            <p>"Desde que me uní a este gimnasio, he descubierto una rutina de ejercicios que se adapta a mi vida." - Laura Rodríguez</p>
            <p>"Los entrenadores son increíblemente solidarios, y el ambiente positivo hace que cada sesión sea un placer. ¡No puedo recomendarlo lo suficiente!" - Diego Vargas</p>
        </div>
    </div>
</div>